body{
	padding:70px;
}

header,footer,div,nav,section,aside,article{
	border: 1px dotted #f0f0f0;
	border-radius:5px;
}

a,a:hover{
	text-decoration: none;
}

.divContent{
	min-height: 350px;
}